[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest_mock = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pg8000 = "==1.16.5"
requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.9"